---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hola, soy Miguel. Actualmente, <strong
        >ocupo el rol de Líder Técnico Android en una banca digital </strong
      >donde no solo guío al equipo, sino que también participo activamente en el desarrollo de soluciones innovadoras.
    </p>

    <p>
      Uno de los proyectos más emocionantes en los que he trabajado es una <strong
        >billetera digital que permite hacer transacciones seguras mediante NFC en teléfonos móviles</strong>. Disfruto mucho resolviendo problemas técnicos y trabajando en tecnologías que marcan la diferencia.
    </p>
  </div>

  <img width="200" height="200" src="https://firebasestorage.googleapis.com/v0/b/my-portfolio-6f48f.firebasestorage.app/o/assets%2Fimages%2Fprofile.jpeg?alt=media&token=7b6981e0-d77c-4c31-a99c-0657aad96449" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>