---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Febrero 2022 - Actualidad",
    title: "Desarrollador Android Senior",
    company: "Banregio",
    description:
      "Encargado de liderar el desarrollo de módulos y funcionalidades clave en las aplicaciones de la empresa, coordinando al equipo Android y asegurando las mejores prácticas de desarrollo. Responsable de la toma de decisiones técnicas, revisión de código y apoyo a desarrolladores junior."
  },
  {
    date: "Mayo 2021 - Enero 2022",
    title: "Desarrollador Android JR",
    company: "Brounie",
    description:
      "Responsable del desarrollo de aplicaciones móviles adaptadas a las necesidades específicas de diversos clientes, asegurando soluciones eficientes y personalizadas para cada proyecto.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
