---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Febrero 2022 - Actualidad",
    title: "Desarrollador Android Senior",
    company: "Banregio",
    description:
      "Encargado de desarrollar múltiples módulos y funcionalidades de las aplicaciones de la empresa."
    //link: "https://twitch.tv/midudev",
  },
  {
    date: "Mayo 2021 - Enero 2022",
    title: "Desarrollador Android JR",
    company: "Brounie",
    description:
      "Encargado de desarrollar diversas aplicaciones para cumplir las necesidades de múltiples clientes.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
