---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Mayo 2025 - Actualidad",
    title: "Líder Técnico Android",
    company: "Banregio",
    description:
      "Liderazgo técnico del ciclo de vida de desarrollo móvil (SDLC), definiendo arquitecturas escalables y mantenibles (Clean Architecture, MVVM) para productos financieros de alto impacto. Responsable de elevar el estándar de ingeniería mediante Code Reviews rigurosos, mentoría técnica y optimización de procesos de CI/CD para asegurar entregas ágiles y sin errores."
  },
  {
    date: "Febrero 2022 - Mayo 2025",
    title: "Desarrollador Android Senior",
    company: "Banregio",
    description:
      "Diseño e implementación de módulos críticos para la banca digital, enfocados en seguridad y rendimiento. Toma de decisiones técnicas para la modularización de la app y colaboración multidisciplinaria con equipos de UI/UX y Backend para garantizar la paridad y calidad del producto final."
  },
  {
    date: "Mayo 2021 - Enero 2022",
    title: "Desarrollador Android JR",
    company: "Brounie",
    description:
      "Responsable del desarrollo de aplicaciones móviles adaptadas a las necesidades específicas de diversos clientes, asegurando soluciones eficientes y personalizadas para cada proyecto.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
