---
const personalImageAlt = "Miguel Lugo Moreno"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16 aspect-square object-cover"
      src="https://firebasestorage.googleapis.com/v0/b/my-portfolio-6f48f.firebasestorage.app/o/assets%2Fimages%2Fme.jpeg?alt=media&token=9ce3dbe2-72c5-4027-971d-4c90376d695c"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/miguel-lugo-moreno-9b3b73201"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Mobile Developer</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Miguel
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +4 años de experiencia. <strong
      >Desarrollador de Software</strong
    > especializado en el desarrollo de <strong>Aplicaciones Móviles</strong>.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:miguellugom97@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/miguel-lugo-moreno-9b3b73201">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
