---
import KotlinIcon from "./icons/Kotlin.astro"
import AndroidIcon from "./icons/Android.astro"
import FirebaseIcon from "./icons/Firebase.astro"
import FlutterIcon from "./icons/Flutter.astro"
import SwiftIcon from "./icons/Swift.astro"

enum TechnologyType {
  Frontend = 1,
  Backend = 2,
  Database = 3,
  Other = 4,
}

const TECHNOLOGIES = [
  {
    name: "Android",
    icon: AndroidIcon,
    colorClasses: 'bg-green-300/40 dark:bg-green-300/40',
    type: TechnologyType.Frontend,
  },
  {
    name: 'iOS',
    icon: SwiftIcon,
    colorClasses: 'bg-gray-300/40 dark:bg-gray-300/40',
    type: TechnologyType.Frontend
  },
  {
    name: 'Flutter',
    icon: FlutterIcon,
    colorClasses: 'bg-cyan-300/40 dark:bg-cyan-300/40',
    type: TechnologyType.Frontend
  },
  {
    name: 'Firebase',
    icon: FirebaseIcon,
    colorClasses: 'bg-yellow-300/40 dark:bg-yellow-300/40',
    type: TechnologyType.Backend
  }
  //Se comenta para tener una referencia en colores dark y light.
  //{
    //name: 'Firebase',
    //icon: FirebaseIcon,
    //colorClasses: 'bg-yellow-500 dark:bg-yellow-300/40',
    //type: TechnologyType.Backend
  //}
];
---

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
  {
    TECHNOLOGIES.map((technology) => (
      <div
        class={`flex flex-col items-center justify-center p-4 transition-all duration-300 ${technology.colorClasses} hover:scale-110 rounded-lg shadow-md`}
      >
        <technology.icon className="size-12" />
        <span class="mt-2 text-sm font-semibold text-gray-600 dark:text-gray-300">
          {technology.name}
        </span>
      </div>
    ))
  }
</div>